.scroll-highlight-wrapper {
  display: block;
  position: relative;
  height : auto;
  width: 100%;
  max-width: 1093px;
}

/* Controls the bounding box of the word in standard document flow */
.scroll-word-wrapper {
  position: relative;
  display: inline-block;
  vertical-align: baseline;
}

/* The visible text before scrolling */
.scroll-word-inactive {
  display: inline-block;
  color: var(--inactive-color);
}

/* The colored text that gets revealed */
.scroll-word-active {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  -webkit-clip-path: inset(0 100% 0 0);
  clip-path: inset(0 100% 0 0);
  will-change: clip-path;
  user-select: none; 
  pointer-events: none;
}